.header
{
    display: grid;
    grid-template-columns: 1fr auto;
    border-bottom: 1px solid black;
}
.blog-info
{
    padding-left: 4px;
    display: grid;
    grid-template-columns: auto 1fr;
}
.nav-menu
{
    align-self: center;
    padding-right: 4px;
}
.nav-menu li
{
    display: inline
}
article
{
    margin: 4px;
}
a
{
    color: black;
    font-family: monospace;
    font-size: larger;
    text-decoration: none;
    margin: 0px 4px;
}
a:hover
{
    text-decoration: underline;
}
.header-logo
{
    width: 54px;
}
.blog-info-media
{
    border: 2px solid black;
    border-radius: 50%;
    padding: 4px;
    margin: 4px 8px 4px 4px;
}
.blog-info-details
{
    align-self: center;
}